#main {
  background-color: black;
}
#title {
  font-family: "Copperplate Gothic Light", Verdana, sans-serif;
  text-align: center;
  line-height: 3em;
  background-color: white;
  color: red;
}
#info-header-footer {
  font-family: "Copperplate Gothic Light", Verdana, sans-serif;
  text-align: center;
  line-height: 3em;
  color: white;
}
#tribute-info {
  font-family: "Trebuchet MS", Verdana, sans-serif;
  text-align: left;
  list-style-position: inside;
  margin: auto;
  width: 50%;
  line-height: 2em;
}
#img-caption {
  font-family: "Trebuchet MS", Verdana, sans-serif;
  text-align: center;
  color: white;
}
#tribute-link {
  color: red;
}
#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: red;
}